/*---------------------
  Categories
-----------------------*/
.categories__item {
    height: 270px;
    position: relative;

    h5 {
        position: absolute;
        left: 0;
        width: 100%;
        padding: 0 20px;
        bottom: 20px;
        text-align: center;

        a {
            font-size: 18px;
            color: $normal-color;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 2px;
            padding: 12px 0 10px;
            background: $white-color;
            display: block;
        }
    }
}

.categories__slider {

    .col-lg-3 {
        max-width: 100%;
    }

    &.owl-carousel {

        .owl-nav {

            button {
                font-size: 18px;
                color: $normal-color;
                height: 70px;
                width: 30px;
                line-height: 70px;
                text-align: center;
                border: 1px solid $border;
                position: absolute;
                left: -35px;
                top: 50%;
                -webkit-transform: translateY(-35px);
                background: $white-color;

                &.owl-next {
                    left: auto;
                    right: -35px;
                }
            }
        }
    }
}

/*---------------------
  Featured
-----------------------*/
.featured {
    padding-top: 80px;
    padding-bottom: 40px;
}

.featured__controls {
    text-align: center;
    margin-bottom: 50px;

    ul {

        li {
            list-style: none;
            font-size: 18px;
            color: $normal-color;
            display: inline-block;
            margin-right: 25px;
            position: relative;
            cursor: pointer;

            &.active {

                &:after {
                    opacity: 1;
                }
            }

            &:after {
                position: absolute;
                left: 0;
                bottom: -2px;
                width: 100%;
                height: 2px;
                background: $primary-color;
                content: '';
                opacity: 0;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }
}

.featured__item {
    margin-bottom: 50px;

    &:hover {
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        .featured__item__pic {

            .featured__item__pic__hover {
                bottom: 20px;
            }
        }
    }
}

.featured__item__pic {
    height: 270px;
    position: relative;
    overflow: hidden;
    background-position: center center;
}

.featured__item__pic__hover {
    position: absolute;
    left: 0;
    bottom: -50px;
    width: 100%;
    text-align: center;
    @include transition(all, .5s);

    li {
        list-style: none;
        display: inline-block;
        margin-right: 6px;

        &:last-child {
            margin-right: 0;
        }

        &:hover {

            a {
                background: $primary-color;
                border-color: $primary-color;

                i {
                    color: $white-color;
                    transform: rotate(360deg);
                }
            }
        }

        a {
            font-size: 16px;
            color: $normal-color;
            height: 40px;
            width: 40px;
            line-height: 40px;
            text-align: center;
            border: 1px solid $border;
            background: $white-color;
            display: block;
            border-radius: 50%;
            @include transition(all, .5s);

            i {
                position: relative;
                transform: rotate(0);
                @include transition(all, .3s);
            }
        }
    }
}

.featured__item__text {
    text-align: center;
    padding-top: 15px;

    h6 {
        margin-bottom: 10px;

        a {
            color: $heading-color-2;
        }
    }

    h5 {
        color: $heading-color-2;
        font-weight: 700;
    }
}

/*---------------------
  Latest Product
-----------------------*/
.latest-product {
    padding-top: 80px;
    padding-bottom: 0;
}

.latest-product__text {

    h4 {
        font-weight: 700;
        color: $normal-color;
        margin-bottom: 45px;
    }
}

.latest-product__slider {

    &.owl-carousel {

        .owl-nav {
            position: absolute;
            right: 20px;
            top: -75px;

            button {
                height: 30px;
                width: 30px;
                background: #F3F6FA;
                border: 1px solid #e6e6e6;
                font-size: 14px;
                color: #636363;
                margin-right: 10px;
                line-height: 30px;
                text-align: center;

                span {
                    font-weight: 700;
                }

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}

.latest-product__item {
    margin-bottom: 20px;
    overflow: hidden;
    display: block;
}

.latest-product__item__pic {
    float: left;
    margin-right: 26px;

    img {
        height: 110px;
        width: 110px;
    }
}

.latest-product__item__text {
    overflow: hidden;
    padding-top: 10px;

    h6 {
        color: $heading-color-2;
        margin-bottom: 8px;
    }

    span {
        font-size: 18px;
        display: block;
        color: $heading-color-2;
        font-weight: 700;
    }
}

/*---------------------
  Form BLog
-----------------------*/
.from-blog {
    padding-top: 50px;
    padding-bottom: 50px;

    .blog__item {
        margin-bottom: 30px;
    }
}

.from-blog__title {
    margin-bottom: 70px;
}


/*--------------------------*/

/* Add your CSS styling here */
.container {
    padding: 10px;

    .row{
        margin: 0;
    }
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    background-color: #ffff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    color: white;
}

.sidenav-content {
    padding: 8px 32px;
    text-align: left;
    color: black;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.featured__item__text-optionbtn {
    font-size: 20px;
    padding: 5px 20px;
    width: 80%;
    margin-top: 15px;
    margin-bottom: 20px;
    background: #88e188;
    border: 1px solid;
    border-radius: 20px;
    cursor: pointer;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
    z-index: 1;
    display: none;
}

.slider {
    position: relative;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slides img {
    width: 100%;
    border-radius: 8px;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    right: 85%;
    padding: 16px;
    margin-top: -22px;
    /* color: white; */
    font-weight: bold;
    font-size: 20px;
    transition: 0.3s ease;
    border-radius: 40px;
    width: 65px;
    border: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    /* user-select: none; */
    /* background: transparent;*/
}

.next {
    right: 0;
    border-radius: 40px;
}

.prev:hover,
.next:hover {
    background-color: transparent;
}

.main-content {
    margin-top: 20px;

    &-heading{
        font-size: 30px;
    font-weight: 600;
    line-height: 35px;
    padding-bottom: 10px;
    }
}

.weight-display{
    display: flex;
    gap: 10px;
    padding-top: 10px;
}

.order-section {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;

    &-countbutton{
        width: 50px;
    border-radius: 30px;
    padding: 5px;
    font-size: 25px;
    }
}

.order-section-countbutton {
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #333;
    cursor: pointer;
    font-size: 16px;
    padding: 5px 10px;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.order-section-countbutton:hover {
    background-color: #e1e1e1;
    border-color: #bbb;
}

.add-to-cart {
    background-color: #28a745; /* Green color */
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 15px;
    transition: background-color 0.3s ease;
    width: 140px;
}

.add-to-cart:hover {
    background-color: #218838;
}

.buy-now {
    background-color: #ffc107; /* Yellow color */
    border: none;
    border-radius: 4px;
    color: black;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 15px;
    transition: background-color 0.3s ease;
    width: 140px;
}

.add-to-cart:hover,
.buy-now:hover {
    background-color: #e0a800;
}

span[id^="quantity-"] {
    font-size: 16px;
    margin: 0 10px;
}
