/*---------------------
  Shop Cart
-----------------------*/
.shoping-cart {
    padding-top: 0px;
    padding-bottom: 80px;
}

.shoping__cart__table {
    margin-bottom: 30px;

    &-items {
        padding-bottom: 25px;
    }

    &-products {
        display: flex;
        padding-bottom: 20px;
        padding-top: 20px;
        gap: 20px;

        img {
            width: 150px;
        }

        &-details {

            &-para {
                font-size: 12px;
            }

            &-amtcounter {
                display: flex;
                align-items: center;
                gap: 10px;
                padding-bottom: 10px;
                padding-top: 10px;
            }

            &-remove {

                font-weight: 500;
                font-size: 20px;
                cursor: pointer;
                border: 1px solid red;
                border-radius: 5px;
                padding: 0px 20px;
                color: red;
                background: none;
                width: 100%;

            }
        }
    }
}

.primary-btn.cart-btn {
    color: $para-color;
    padding: 14px 30px 12px;
    background: $background;

    span {
        font-size: 14px;
    }

    &.cart-btn-right {
        float: right;
    }
}

.shoping__discount {
    margin-top: 45px;

    h5 {
        font-size: 20px;
        color: $normal-color;
        font-weight: 700;
        margin-bottom: 25px;
    }

    form {

        input {
            width: 255px;
            height: 46px;
            border: 1px solid #cccccc;
            font-size: 16px;
            color: #b2b2b2;
            text-align: center;
            display: inline-block;
            margin-right: 15px;

            &::placeholder {
                color: #b2b2b2;
            }
        }

        button {
            padding: 15px 30px 11px;
            font-size: 12px;
            letter-spacing: 4px;
            background: $para-color;
        }
    }
}

.shoping__checkout {
    background: $background;
    padding: 30px;
    padding-top: 20px;
    margin-top: 20px;

    h5 {
        color: $normal-color;
        font-weight: 700;
        font-size: 20px;
        margin-bottom: 28px;
    }

    ul {
        margin-bottom: 28px;

        li {
            font-size: 16px;
            color: $normal-color;
            font-weight: 700;
            list-style: none;
            overflow: hidden;
            border-bottom: 1px solid $border;
            padding-bottom: 13px;
            margin-bottom: 18px;

            &:last-child {
                padding-bottom: 0;
                border-bottom: none;
                margin-bottom: 0;
            }

            span {
                font-size: 18px;
                color: #dd2222;
                float: right;
            }
        }
    }

    .primary-btn {
        display: block;
        text-align: center;
    }
}

.counter {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-family: Arial, sans-serif;
    font-size: 20px;
    text-align: center;
    padding-top: 20px;
}

.counter-section-countbutton {
    width: 40px;
    height: 40px;
    background-color: #009E60;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.counter-section-countbutton:hover {
    background-color: #87dab9;
}

.counter-section-countbutton:active {
    background-color: #87dab9;
}

#quantity {
    width: 40px;
    text-align: center;
}

.shoping__cart__table-products {
    display: flex;
    flex-direction: column;
}

.cart-item {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: flex-end;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    background: #f5f5f5;
    border-radius: 5px;
}

.cart-image {
    flex: 1;
    max-width: 150px;
    margin-right: 15px;
}

.shoping__cart__table-products-details {
    flex: 2;
    /* Adjust flex value based on how much space you want it to take */
}

.counter {
    flex: 1;
    display: flex;
    align-items: center;
}

/* Desktop */
@media (min-width: 1024px) {
    .cart-item {
        flex-direction: row;
    }
}

/* Tablet */
@media (max-width: 1023px) and (min-width: 768px) {
    .cart-image {
        max-width: 150px;
        flex: 0 0 50%;
        /* 50% width */
    }

    .shoping__cart__table-products-details {
        flex: 0 0 50%;
        /* 50% width */
    }

    .counter {
        width: 100%;
        flex: 1 0 100%;
    }
}

/* Mobile */
@media (max-width: 767px) {
    .cart-image {
        max-width: 100px;
        flex: 0 0 50%;
        margin-right: 10px;
    }

    .shoping__cart__table-products-details {
        flex: 0 0 60%;
        /* 50% width */

        .shopping_cart-name {
            font-size: 12px;
            font-weight: 600;
        }

        .shopping_cart-weigth {
            font-size: 12px;
            font-weight: 500;
        }

        .shopping_cart-quantity {
            padding: 0px;
            font-size: 14px;

            span[id^=quantity-] {
                font-size: 16px;
                margin: 0;
            }
        }

        .shoping__cart__table-products-details-amtcounter {
            display: flex;
            align-items: center;
            gap: 10px;
            padding-bottom: 0px;
            padding-top: 0px;
            font-size: 14px;
        }

        .shopping__cart-availability {
            font-size: 14px;
            font-weight: 700;
            color: #4eb14e;
        }
    }

    .counter {
        width: 100%;
        flex: 1 0 100%;
        padding-top: 10px;
    }
}




.counter-section-countbutton {
    width: 30px;
    height: 30px;
    margin: 0 5px;
}

.shopping_cart-name {
    font-size: 20px;
    font-weight: 600;
}

.shopping_cart-weigth {
    font-size: 14px;
    font-weight: 500;

    span {
        font-weight: 700;
    }
}

.shopping_cart-quantity {
    padding: 5px 0px;
    font-size: 18px;
}

.shopping__cart-availability {
    font-size: 16px;
    font-weight: 700;
    color: #4eb14e;
}